<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
    <h1>Użytkownicy</h1>

    <table>
  <tr>
    <th>ID</th>
    <th>imie</th>
    <th>ma twarz?</th>
    <th>ma QR?</th>
    <th>usun</th>

  </tr>
  {% for user in users %}
  <tr>
    <td>{{user.id}}</td>
    <td><a href="/admin/users/{{user.id}}">{{user.full_name}}</a></td>
    <td>{{"TAK" if user.face_image_path else "NIE"}}</td>
    <td>{{"TAK" if user.qr_image_path else "NIE"}}</td>
    <td>
      <form action="/admin/users/{{ user.id }}/delete" method="post" onsubmit="return confirm('Czy na pewno?');">
        <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
      </form>
  </td>
  </tr>
  {% endfor %}
    </table>

    <p>Przycisk do dodawania nowego usera</p>
    <a href="users/new">
        <button type="button">Dodaj!</button>
    </a>
    <p></p>
    <form action="/" method="get" style="display: inline;">
      <button type="submit">Powrót do strony głównej, wyloguj</button>
    </form>

</body>
</html>
