<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>skanik</title>
</head>
<body>
    <h1>Skanowanie</h1>

    <video id="video" width="400" autoplay></video>
    <br><br>

    <button id="scanBtn">Skanuj QR</button>
    <button id="faceBtn" disabled>Zweryfikuj twarz</button>
    <br>
    <a href="/">
            <button id="cancelBtn">Anuluj</button>
    </a>
    <canvas id="canvas" width="400" height="300" style="display:none"></canvas>
    <p id="result"></p>

    <script>
        const video = document.getElementById("video");
        const canvas = document.getElementById("canvas");
        const result = document.getElementById("result");
        const scanBtn = document.getElementById("scanBtn");
        const faceBtn = document.getElementById("faceBtn");

        const sessionId = "{{ session_id }}";
    
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
            })
            .catch(err => {
                result.innerText = "Brak dostępu do kamery";
            });

        scanBtn.addEventListener("click", async () => {
            console.log("Skanowanie QR");
            const ctx = canvas.getContext("2d");
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

            canvas.toBlob(async (blob) => {
                const formData = new FormData();
                formData.append("file", blob, "frame.png");

                try {
                    const response = await fetch(
                        `/verification/${sessionId}/qr`,
                        {
                            method: "POST",
                            body: formData
                        }
                    );

                    const data = await response.json();
                    
                    result.innerText = JSON.stringify(data, null, 2);

                    if (data.status === "WAITING_FOR_FACE" || 
                        data.status === "qr_scanned" || 
                        data.qr_scanned === true ||
                        data.user_id) {
                        
                        console.log("QR zeskanowany");
                        faceBtn.disabled = false;
                        scanBtn.disabled = true;
                        scanBtn.style.background = "red"
                        scanBtn.style.color = "orange"
                        faceBtn.style.background = "green";
                        faceBtn.style.color = "white";
                    } else {
                        console.log("QR nie zeskanowany, status:", data.status);
                    }

                } catch (error) {
                    console.error("Błąd:", error);
                    result.innerText = "Błąd: " + error.message;
                }

            }, "image/png");
        });

        faceBtn.addEventListener("click", async () => {
        
        result.innerText = "Trwa weryfikacja twarzy...";
        const ctx = canvas.getContext("2d");
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

        canvas.toBlob(async (blob) => {
            const formData = new FormData();
            formData.append("file", blob, "face.png");

            try {
                const response = await fetch(`/verification/${sessionId}/face`, {
                    method: "POST",
                    body: formData
                });

                const data = await response.json();
                console.log("Wynik twarzy:", data);

                if (data.status === "ACCESS_GRANTED") {
                    window.location.href = data.redirect_url;
                } else {
                    alert(data.message || "Odmowa dostępu");
                    window.location.href = "/"; //
                }
            } catch (e) {
                console.error(e);
                result.innerText = "Błąd połączenia z serwerem";
            }
        }, "image/png");
    });
        
    </script>
</body>
</html>