<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Szczegolowy uzytkownik</title>
</head>
<body>
    <h1>Użytkownik</h1>
    <table>
    <tr>
        <th>ID</th>
        <th>imie</th>
        <th>ma twarz?</th>
        <th>ma QR?</th>

    </tr>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{"TAK" if user.has_face else "NIE"}}</td>
        <td>{{"TAK" if user.has_QR else "NIE"}}</td>
        
    </tr>
    </table>

    <h1>Kod QR</h1>
    {% if not user.has_QR %}
    <p>uzytkownik nie ma kodu qr</p>
    <form method="POST" action="/admin/users/{{user.id}}/qr">
        <button type="submit">Stworz dla mnie kodzik qr!</button>
    </a>
    {% else %}
    <p>kodzik qr tego usera</p>
    <img src="/qr_codes/user_{{user.id}}.png" alt="Kodzik QR" width="150">
    {% endif %}
    <p></p>

    

    {% if user.has_face %}
    <h3>Zdjęcie twarzy</h3>
    <img src="/faces/user_{{ user.id }}/user_{{ user.id }}_1.jpg" 
        alt="Face of {{ user.name }}" style="max-width: 200px;">

    {% else %}
    <p>Brak zdjęcia twarzy</p>

    {% endif %}
    <!-- <form method="GET" action="/admin/users/{{user.id}}/face">
        <button type="submit">{% if user.has_face %}zmien twarz{% else %}dodaj twarz{% endif %}</button>
    <p></p> -->
    {% if not user.has_face %}
    <form method="GET" action="/admin/users/{{user.id}}/face">
        <button type="submit">dodaj twarz</button>
    <p></p>
    {% endif %}
    <p></p>


    <a href="/admin/users">
        <button type="button">Zabierz mnie stąd!😈😈</button>
    </a>




</body>
</html>
