<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Szczegolowy uzytkownik</title>
</head>
<body>
    <h1>Użytkownik</h1>
    <table>
    <tr>
        <th>ID</th>
        <th>imie</th>
        <th>ma twarz?</th>
        <th>ma QR?</th>

    </tr>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.full_name}}</td>
        <td>{{"TAK" if user.face_image_path else "NIE"}}</td>
        <td>{{"TAK" if user.qr_image_path else "NIE"}}</td>
        
    </tr>
    </table>

    <h1>Kod QR</h1>
    {% if not user.qr_image_path %}
    <p>uzytkownik nie ma kodu qr</p>
    <form method="POST" action="/admin/users/{{user.id}}/qr">
        <button type="submit">Stworz dla mnie kodzik qr!</button>
    </a>
    {% else %}
    <p>kodzik qr tego usera</p>
    <img src="/{{ user.qr_image_path }}" alt="Kodzik QR" width="150">
    <br><br>
    <form method="POST" action="/admin/users/{{ user.id }}/qr/delete">
        <button type="submit">Usun kodzik</button>
    </form>
    {% endif %}
    <p></p>

    

    {% if user.face_image_path %}
    <h3>Zdjęcie twarzy</h3>
    <img src="/{{ user.face_image_path }}"
        alt="Face of {{ user.name }}" style="max-width: 200px;">
    <p></p>
    <form method="POST" action="/admin/users/{{ user.id }}/face/delete">
        <button type="submit">usun twarz</button>
    </form>
    {% else %}
    <p>Brak zdjęcia twarzy</p>

    {% endif %}

    {% if not user.face_image_path %}
    <form method="GET" action="/admin/users/{{user.id}}/face">
        <button type="submit">dodaj twarz</button>
    <p></p>
    {% endif %}
    <p></p>


    <a href="/admin/users">
        <button type="button">Zabierz mnie stąd!😈😈</button>
    </a>




</body>
</html>
